[submodule "vendor/libSDL2pp"]
	path = vendor/libSDL2pp
	url = https://github.com/libSDL2pp/libSDL2pp.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/anax"]
	path = vendor/anax
	url = https://github.com/miguelmartin75/anax
